################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/ParallelTasksExample/ParallelTasksExample/bin/Debug/netcoreapp2.2
/ParallelTasksExample/ParallelTasksExample/obj/Debug/netcoreapp2.2
/ParallelTasksExample/.vs/ParallelTasksExample/v15/Server/sqlite3
/ParallelTasksExample/ParallelTasksExample/obj
