################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/ParallelTasksExample/ParallelTasksExample/bin/Debug/netcoreapp2.2
